.post_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    margin-left: 20px;
}
.postCard {
    background-color: azure;
    width: 350px;
    height: 300px;
    overflow: hidden;
    box-shadow: 1px 3px 3px black;
}
.username {
    position: relative;
    left: -60px;
    top: 25px;
}
.pf {
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 10px;
}
.created_at {
    position: relative;
    right: -100px;
    top: -10px;
    font-size: 12px;
    color: gray;
}
.description {
    position: relative;
    top: 0px;
    left: -40px;
}
.media {
     position: relative;
     top: 10px;
     left: 10px;
     width: 330px;
}
