.post_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    margin-left: 20px;
}

.postCard {
    width: 350px;
    height: max-content;
    /* overflow: hidden; */
    box-shadow: 1px 3px 3px black;
    position: relative;
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
}

.username {
    position: relative;
    left: 65px;
    top: 30px;
}

.pf {
    width: 50px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    left: 10px;
}

.created_at {
    position: relative;
    right: -220px;
    top: -10px;
    font-size: 12px;
    color: gray;
}

.description {
    position: absolute;
    top: 90px;
    left: 10px;
}

.media_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 200px;
    border-top: 1px solid #0000001a;
    overflow-y: hidden;
    /* overflow-x: hidden; */
    position: relative;

    left: -5px;
    padding: 20px 0;
    box-sizing: border-box;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.reportForm {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    z-index: 9;
    background-color: #fff;
    padding: 10px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 1px 3px 5px #000;
}

.reportReasons {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
    padding-top: 20px;
    padding-inline-start: 20px;
}

.reportReasons>label {
    display: block;
    width: max-content;
}

.reportBtn {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 8px;
    padding: 2px;
    color: red;
    border-radius: 0;
}

.reportpost_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    margin-left: 20px;
}

.reportpostCard {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    gap: 5px;
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px #000;
}

.mediaWrapper>img {
    width: 250px;
}