@import "tailwindcss";
#root {
  margin: 0 auto;
  text-align: center;
}
main {
  width: 100%;
  height: 100%;
  position: relative;
  top: 120px;
}

/**/
.dashboard {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.userList {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px 20px;
  box-sizing: border-box;
}
.userCard {
  background-color: floralwhite;
  width: 400px;
  height: 230px;
  padding:10px 0;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  text-align: left;
  border: 2px solid #000;
  border-radius: 10px;
}
.userCard > div > img {
  width: 80px;
  height: 80px;
}
.userCard > div:first-child {
  display: flex;
  gap: 40px;
  position: relative;
  top: 15px;
}
.userCard > div:last-child {
  display: flex;
  align-items: center;
  gap: 20px;
}
.userCard > h1 {
  width: max-content;
}
